
.bg-gradient-radial {
  background-image: radial-gradient(circle, white 1%, transparent 1%);
  background-size: 10px 10px;
}

.stars::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    /* x, y, blur, spread, color */
    1px 1px white,
    2px 2px white,
    3px 3px white;
    /* Add more "stars" here */
  z-index: -1;
}